body {
    background-color:black;
    color: aliceblue;
    text-align: center;
}

main {
    border: 3px;
    border-color: aliceblue;
    border-style:groove;
    
}

h1 {
    margin: 10% 0 5% 0;
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
    width: 500px;
    margin: 100px 0 80px 930px; 
}

button {
    width: 300px;
    height: 80px;
    border-radius: 30px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}